body {
  display: none;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  font-family: HanziPen SC,"Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

*{
  padding: 0;
  margin: 0;
}


.logo {
  width: 40px;
  text-align: center;
  display:block;
}

h1,h2, p {      
  color: black;
  font-size: 60px;
  margin: 50px;
  position: relative;
  z-index: 2;
  text-align: center;
}

h1 {
}

h2 {
  font-size: 40px;
  clear: both;
}

p{
  font-size: 20px;
  margin: 10px;
}

.contents {
}

.discription {
  font-size: 14px;
}

.btn {
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 160px;
  margin: 20px auto;
  margin-bottom: 80px;
  padding: 11px 25px 11px;
  border-radius: 4px;
}

.photos {
  width: 100%;
  clear: both;
}

img{
  width: 25%;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  margin-bottom: 50px;
}

.contents {
  position: relative;
}

#slideshow {
 position:relative;
 width:100%;
 height:600px;
}
#slideshow li {
 position:absolute;
 height:600px;
 margin:0;
 padding:0;
 background-position:center top;
 background-repeat:no-repeat;
 list-style:none;
}

#main_title {
  background-color:rgba(0,0,0,0.65);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  color: white;
  padding-top: 150px;
}

.white {
  color: white;
}

.menu_list {
  width: 490px;
  margin: 40px auto 0;
}
.menu_list li {
  position: relative;
	width: 80px;
	height: 80px;
  margin-right: 15px;
	-webkit-border-radius: 50%;
  -moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px dotted #FF1289;
  color: #FF1289;
  display: inline;
  float: left; 
}
.menu_list a {
  position: relative;
  top: 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px auto;
  color: #FF1289;
  display: block;
}

#schedule {
  clear:both;
}

#course_wrapper {
  width: 800px;
  margin: 0 auto;
}

.course {
  width: 800px;
  clear: both;
}
.course_title {
  font-size: 30px;
  margin-top:30px;
  margin-bottom: 10px;
}
.course_desc {
  width: 500px;
  float: left;
}

.course_image {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  float: left;
  background-repeat: no-repeat;
  background-size:cover;
  margin-bottom: 30px;
}
.course_a {
  background-image: url(img/kezuriki.png);  
}
.course_b {
  background-image: url(img/course_b.jpg);  
}
.course_c {
  background-image: url(img/course_c.jpg);  
}
.course_d {
  background-image: url(img/class.jpg);  
}
