
body {
/*  IE8以下の代替の背景画像  */
/*  background:url("teaser_bg.jpg") #333333; */
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 40px;
  text-align: center;
  display:block;
}

video {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
  min-width:100%;
  min-height:100%;
  width:auto;
  height:auto;
  display:block;
}
h1,h2, p {      
  color: black;
  font-size: 60px;
  margin: 50px;
  position: relative;
  z-index: 2;
  text-align: center;
}

h1 {
}
h2 {
  font-size: 40px;
  clear: both;
}

p{
  font-size: 20px;
  margin: 10px;
}

.contents {
}

.slides-container {
  height: 100%; 
  width: 100%;
  background-color: black;
  position: relative;
}

.slides-container img{
  width: 100%;
  animation-name: slides-container;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  opacity: 0;
}

.slides-container .img1{
  display: block;
  margin: 0 auto;
}

.slides-container .img2{
  position: absolute;
  top: 0;
  animation-delay: 5s;
}

@keyframes slides-container{
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 0.8;
  }
  37.5% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
}

.slides-container p{
  padding-top: 200px;
  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}

.slides-container h1{
  padding-top: 300px;
  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}


.discription {
  font-size: 14px;
}


.course {
  font-size: 30px;
  margin-top:30px;
  margin-bottom: 10px;
}

.btn {
  border: 2px;
  border-style: solid;
  border-color: black;
  width: 160px;
  margin: 20px auto;
  margin-bottom: 80px;
  padding: 11px 25px 11px;
  border-radius: 4px;
}

.img_wrapper {
  width: 100%;
}

img{
  width: 25%;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  margin-bottom: 50px;

}